{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="row d-flex justify-content-center align-items-center indexlink">
            <div class="d-flex justify-content-center align-items-center maintext">
                <h1 class="text-white">Welcome to Cheesy Store!</h1>
                <h2 class="text-white hometext">Our online cheesemonger offer the best local and international cheeses, straight from the farm to your door. We pick only the best, made with care and traditional recipes. It's an easy way to enjoy delicious, authentic cheese without leaving home! Drop us a line on <a href="https://www.facebook.com/people/Cheesy-Store/61557966335162/" rel="noopener" class="text-white"><u>Facebook</u>  <i class="fab fa-facebook fa-sm"></i></a></h2>
                <p class="text-white"><a href="{% url 'products' %}" class="text-white"><u>Shop Now</u> <i class="fas fa-cheese fa-sm"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row indexdiv">
    <div class="col-3 d-flex justify-content-center align-items-center">
        <div class="allposts">
            <a href="{% url 'cheesyblog' %}" class="current3">LATEST BLOG POSTS <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    {% for post in blog_posts1 %}
    <div class="col-3 d-flex justify-content-center align-items-center">
        <div class="row sampleblog">
            <div class="col-12 col-md-6 samblogtext">
                <a href="{% url 'post_detail' post.slug  %}" class="titlehov">
                    <h2 class="lead text-black indexblogtest">{{ post.title }}</h2>
                </a>
                <p class="small indexblogtest2"><i class="fas fa-tag mr-1"></i>{{ post.created_on }}</p>
            </div>
            <div class="col-6 d-none d-md-block parent-div">
                <div class="image-container">
                    <img src="{{ post.featured_image.url }}" alt="Placeholder Image">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row indexdiv2 d-none">
    {% for post in blog_posts2 %}
    <div class="divrow row">
            <div class="col-6 parent-div1">
                <div>
                    <a href="{% url 'cheesyblog' %}" class="current4">
                        <h3>LATEST BLOG POSTS</h3>
                    </a>
                    <a href="{% url 'post_detail' post.slug  %}" class="">
                        <h4 class="text-dark indexblogtest3">{{ post.title }}</h4>
                    </a>
                    <p class="indexblogtest4"><i class="fas fa-tag mr-1"></i>{{ post.created_on }}</p>
                </div>
            </div>
            <div class="col-6 parent-div1">
                <div class="card border-0">
                    <a href="{% url 'post_detail' post.slug  %}">
                        <img class="card-img-top img-fluid newarrimg" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    </a>
                </div>                        
            </div>
    </div>
    {% endfor %}
</div>
<div class="row indexdiv3">
    <div class="col-12 col-md-6 indexsubscribe">
        {% for product in new_arrival %}
            <div class="row">
                <div class="col-6">
                    <div class="newarrtext">
                        <h3 class="mt-3">Latest Arrival</h3>
                        <h4 class="indexblogtest3">{{ product.name }}</h4>
                        {% if product.in_stock %}
                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                        {% else %}
                            <p class="lead mb-0 text-left font-weight-bold soldout">Sold Out</p>
                        {% endif %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'products' %}?category={{ product.category.name }}" class="nextlast">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'products' %}?origin={{ product.origin.name }}" class="nextlast">
                                <i class="fas fa-tag mr-1"></i>{{ product.origin.friendly_name }}
                            </a>
                        </p>
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'products' %}?cheesytype={{ product.cheesetype.name }}" class="nextlast">
                                <i class="fas fa-tag mr-1"></i>{{ product.cheesetype.friendly_name }}
                            </a>
                        </p>
                        {% if product.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="card border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid newarrimg" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid newarrimg" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-6 mailchimpindex">
        <div class="d-flex justify-content-center align-items-center">
            <div id="mc_embed_shell">
                <div id="mc_embed_signup">
                    <form action="https://gmail.us21.list-manage.com/subscribe/post?u=a9d7072cc1e95300f9177259a&amp;id=e4b91dfde2&amp;f_id=00c7f7e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll"><h2>Subscribe to our Mailing List</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                            </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                            <input type="text" name="b_a9d7072cc1e95300f9177259a_e4b91dfde2" tabindex="-1" value="">
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                <p style="margin: 0px auto;"><a href="http://eepurl.com/iL_Qv-" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script>
        (function($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0]='EMAIL';ftypes[0]='email';
                fnames[1]='FNAME';ftypes[1]='text';
                fnames[2]='LNAME';ftypes[2]='text';
                fnames[3]='ADDRESS';
                ftypes[3]='address';
                fnames[4]='PHONE';
                ftypes[4]='phone';
                fnames[5]='BIRTHDAY';
                ftypes[5]='birthday';}
            (jQuery));
            var $mcj = jQuery.noConflict(true);
    </script>
{% endblock %}