{% extends "base.html" %}
{% load static %}

{% block content %}


        <div class="row indexdiv1">
            <div class="col-6 d-none d-md-block">
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row d-flex justify-content-center align-items-center" id="indexlink">
                    {% for product in new_arrival %}
                    <div class="d-none d-md-block newarrival">
                        <div class="card border-0">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid newarrimg" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid newarrimg" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="small mt-1 mb-0">
                                            <i class="fas fa-tag mr-1 newarrivaltxt"></i>New Arrival
                                        </p>
                                        {% if product.origin %}
                                        <p class="small mt-1 mb-0">
                                            <a href="{% url 'products' %}?origin={{ product.origin.name }}" class="text-dark nextlast">
                                                <i class="fas fa-tag mr-1"></i>{{ product.origin.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        {% if product.cheesetype %}
                                        <p class="small mt-1 mb-0">
                                            <a href="{% url 'products' %}?cheesetype={{ product.cheesetype.name }}" class="text-dark nextlast">
                                                <i class="fas fa-tag mr-1"></i>{{ product.cheesetype.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="row indexdiv">
            <div class="col-3 d-flex justify-content-center align-items-center">
                <div class="allposts">
                    <a href="{% url 'cheesyblog' %}" class="current3">
                        LATEST BLOG POSTS <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            {% for post in blog_posts1 %}
            <div class="col-3 d-flex justify-content-center align-items-center">
                    <div class="row sampleblog">
                        <div class="col-12 col-md-6 samblogtext">
                                <a href="{% url 'post_detail' post.slug  %}" class="titlehov">
                                    <h2 class="lead text-black indexblogtest">{{ post.title }}</h2>
                                </a>
                                <p class="small indexblogtest2"><i class="fas fa-tag mr-1"></i>{{ post.created_on }}</p>
                        </div>
                        <div class="col-6 parent-div">
                            <div class="image-container">
                                <img src="{{ post.featured_image.url }}" alt="Placeholder Image" class="">
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
        <div class="row indexdiv2 d-none">
            {% for post in blog_posts2 %}
            <div class="divrow row">
                    <div class="col-6 parent-div1">
                        <div>
                            <a href="{% url 'post_detail' post.slug  %}" class="">
                                <h2 class="lead text-black indexblogtest">{{ post.title }}</h2>
                            </a>
                            <p class="small indexblogtest2"><i class="fas fa-tag mr-1"></i>{{ post.created_on }}</p>
                            <a href="{% url 'cheesyblog' %}" class="current4">
                                LATEST BLOG POST <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 parent-div1">
                        <div class="image-container2">
                            <img src="{{ post.featured_image.url }}" alt="Placeholder Image" class="">
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>


{% endblock %}