{% extends "base.html" %}
{% load static %}

{% block content %}


        <div class="row indexdiv1">
            <div class="col-6 d-none d-md-block">

            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row justify-content-center align-items-center" id="indexlink">
                    <div class="col-7 col-md-6">
                        <h1 class="maintext">
                            <a href="{% url 'products' %}" class="logo-font text-white">Browse our selection of cheeses!</a>
                        </h1>
                </div>
            </div>
        </div>
        </div>
        <div class="row indexdiv">
            <div class="divrow col-6">
            </div>
            <div class="divrow col-sm-12 col-md-6 d-none d-md-block">
                <div class="blogpreview">
                        {% for post in blog_posts %}
                            <div class="row indexdiv2">
                                <div class="col-6">
                                    <div class="justify-content-center align-items-center pt-4">
                                        <a href="{% url 'post_detail' post.slug  %}" class="">
                                            <h2 class="lead mx-5 mb-0 text-left font-weight-bold text-black">{{ post.title }}</h2>
                                        </a>
                                        <p class="small mt-1 mb-0 mx-5"><i class="fas fa-tag mr-1"></i>{{ post.created_on }}</p>
                                        <h2 class="small mx-5 mb-0 text-left text-black">View full blog</h2>
                                    </div>
                                </div>
                                <div class="col-6 parent-div">
                                    <div class="image-container">
                                        <img src="{{ post.featured_image.url }}" alt="Placeholder Image" class="">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>


{% endblock %}