{% extends 'base.html' %}
{% load static %}
{% load blogtags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cheesyblog/css/cheesyblog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 px-5 blogtext">
                <h1 class="">{{ post.title }}</h1>
                <p class="">{{ post.created_on }}</p>
                <p class="px-25">
                    {{ post.content | safe }}
                </p>
                <p class="small mt-1 mb-0 tagblog">
                    {% with post.keywords|split:"," as keyword_list %}
                        {% for keyword in keyword_list %}
                            <i class="fas fa-tag mr-1"></i>{{ keyword|striptags|safe }}
                        {% endfor %}
                    {% endwith %}
                </p>
                <a href="{% url 'cheesyblog' %}" class="small mt-5"><u>Back to Blog</u></a>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="{{ post.keywords }}">
                {% else %}
                <img src=" {{ post.featured_image.url }}" alt="post.keywords">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container container2">
    <div class="row">
        <div class="col-sm-12 col-md-6 card mb-4 mt-3 ">
            <div class="card-body">
                <h3>Comments:</h3>
                {% if not comments %}
                    <p>
                        No Comments Yet
                    </p>
                {% endif %}
                {% for comment in comments %}
                    <div class="comments">
                        <p>
                            {{ comment.user }} |
                            <span class=" text-muted">
                                {{ comment.created_on }}
                            </span>
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                {% if comment.user == request.user %}
                <form action="{% url 'delete_comment' comment.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="confirmButton text-danger">
                </form>
            {% endif %}
            <hr>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12 col-md-6 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <h4>Leave a comment:</h4>
                    <p class="text-muted">{{ user.username }}</p>
                    <form method="post" id="commentform">
                        {{ comment_form|crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn" id="commentsubmit"><u>Submit</u></button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'cheesyblog/js/blogscript.js' %}"></script>
{% endblock %}

