{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cheesyblog/css/cheesyblog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
    <div class="text-center mb-5">
        <a href="{% url 'addblogpost' %}" class="text-light" id="addpost">ADD POST</a>
    </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-10">
                <div id="blogrow" class="row">
                {% for post in posts %}
                        <div class="col-md-4 card mb-4">
                            <div class="card-body">
                                <div class="image-container2">
                                    <img src="{{ post.featured_image.url }}" alt="" class="card-img-top img-fluid blogimg">
                                </div>
                                <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                    <h2 class="lead mb-0 text-left font-weight-bold">{{ post.title }}</h2>
                                    <p class="small mt-1 mb-0">{{ post.excerpt|truncatechars:100 }}</p>
                                </a>
                                <p class="small mt-1 mb-0 tagblog"><i class="fas fa-tag mr-1"></i>{{ post.created_on }}</p>
                            </div>
                        </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <hr>
                <div  id="blogrow" class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page Navigation" id="blogpagin">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="pag_button text-light">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="pag_button text-light"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
            <span class="d-flex justify-content-center align-content-center">
                <u class="current"> Page {{ page_obj.number }} of {{ total_pages }} </u>
            </span>
        </nav>
        {% endif %}
    </div>
{% endblock %}