{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12 d-flex justify-content-center faq" id="contactdiv2">
        <div class="contactform justify-content-center faq">
            <div class="faqqanda">
                <h1 class="justify-content-center"><u>Frequently Asked Questions</u></h1>
            </div>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <hr>
                <p>Welcome to Cheesy Store, your premier destination for exceptional cheeses online. We are a passionate team of cheese aficionados based in Ireland, dedicated to bringing the finest and most flavorful cheeses right to your doorstep. Our journey began from a shared love for the rich, diverse world of cheese, and a dream to make these culinary treasures accessible to everyone across Ireland and beyond.</p>
                <hr>
                <div class="ownerimg justify-content-center"></div>
            </div>
            <div class="faqqanda">
                <h2 class="justify-content-center">Is it Safe to Use My Credit/Debit Card on Your Website?</h2>
                <hr>
                <p>At Cheesy Store, the security of your transactions is paramount. We've partnered with Stripe, a global leader in online payment processing, to ensure that your credit/debit card information is handled with the utmost care. Stripe employs state-of-the-art encryption and is certified to PCI Service Provider Level 1, the highest level of certification in the payments industry. This means your payment details are encrypted and processed securely, without ever being stored on our servers. With advanced fraud detection measures in place, you can shop with confidence, knowing your information is safe and protected at all times.</p>
            </div>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <hr>
                <p>Creating an account with [Your Company Name] unlocks a host of benefits designed to enhance your shopping experience. You can store your details on your profile page and leave comments on our <a href="{% url 'cheesyblog' %}" class="faqlink"><u>blog</u></a>. Join our community today to make the most of your cheese discovery journey!</p>
            </div>
            <div class="faqqanda">
                <h2 class="justify-content-center">What is your return policy?</h2>
                <hr>
                <p>At Cheesy Store, we offer a straightforward 30-day return policy for items that don't meet your satisfaction. Products must be returned in their original condition and packaging. To initiate a return, please contact our customer service for a return shipping label and instructions. Upon receiving and inspecting the returned item(s), we will process your refund or exchange. While return shipping costs for incorrect or defective items are on us, other returns may require you to cover the shipping. Sale items are final sale, except in cases of defects or damage. For any questions, our customer service team is ready to assist.</p>
            </div>
            <div class="faqqanda">
                <h2 class="justify-content-center">How do I change my account details?</h2>
                <hr>
                <p>Once your logged in, you can visit your profile to change your details <a href="{% url 'profile' %}" class="faqlink"><u>here!</u></a></p>
            </div>
            <div class="faqqanda">
                <h2 class="justify-content-center">How can I find out about upcoming promotions and deals?</h2>
                <hr>
                <p>Subscribe to our newsletter <a href="{% url 'contact' %}" class="faqlink"><u>here!</u></a></p>
            </div>
            <div class="faqqanda">
                <h2 class="justify-content-center">How can I contact customer service?</h2>
                <hr>
                <p>You can contact us on out contact page <a href="{% url 'contact' %}" class="faqlink"><u>here!</u></a></p>
            </div>
            <div class="faqqanda">
                <h2 class="justify-content-center">What is your privacy policy?</h2>
                <hr>
                <p>Answer</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}