{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12 d-flex justify-content-center faq" id="contactdiv2">
        <div class="contactform justify-content-center faq">
            <div class="faqqanda">
                <h1 class="justify-content-center">Frequently Asked Questions <i class="fas fa-question fa-sm"></i></h1>
            </div>
            {% for faq in faqs %}
            <div class="faqqanda">
                <h2 class="justify-content-center">{{ faq.question }}</h2>
                <hr>
                <p>{{ faq.answer|safe }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}