{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12 d-flex justify-content-center faq" id="contactdiv2">
        <div class="contactform justify-content-center faq">
            <h2><u>Frequently Asked Questions</u></h2>
            <hr>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <p>Answer</p>
                <div class="ownerimg justify-content-center"></div>
            </div>
            <hr>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <p>Answer</p>
            </div>
            <hr>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <p>Answer</p>
            </div>
            <hr>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <p>Answer</p>
            </div>
            <hr>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <p>Answer</p>
            </div>
            <hr>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <p>Answer</p>
            </div>
            <hr>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <p>Answer</p>
            </div>
            <hr>
            <div class="faqqanda">
                <h2 class="justify-content-center">Who are we?</h2>
                <p>Answer</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}