/* Global Styings */

html {
    margin: 0;
    height: 100% !important;
    width: 100% !important;
}

body {
    height: 100% !important;
    width: 100% !important;
    background: url(/media/onder-ortel.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Rubik';
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.logo-font {
    text-transform: uppercase;
}

/* Nav Styling */

header {
    height: 10%;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/* Homepage Styling */

.blogpreview {
    background-color: white;
    width: 100%;
    padding-left: 5px;
}

.parent-div2, .parent-div1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.parent-div2 {
    margin-bottom: 5px;
}

.parent-div1 {
    padding-top: 40px;
}

.image-container {
    width: 90%;
    height: 90%;
}

.indexdiv2 {
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    object-fit: cover;
}

.indexdiv {
    background-color: white;
    height: 30vh;
}


.indexdiv1 {
    height: 100% !important;
}

.divrow {
    height: 100%;
    width: 30%;
    border: solid black 1px;
}

.divrow2 {
    height: 100% !important;
    width: 10%;
}

.maintext {
    margin-top: 300px;
    font-size: 20px;
    border: solid 3px white;
    border-radius: 5px;
    width: 125px;
}

.maintext div {
    padding: 5px;
}

.blogpreview {
    height: 100%;
}

.mobiletitle {
    color: black;
}

/* Button Stying */

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.text-black {
    color: #000 !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link, 
.update-link,
.remove-item {
    cursor: pointer;
}

.pag_button {
    color: #555;
}

button {
    border: none !important;
}

/* Products Page styling*/

.soldout {
    color: red;
}

/* Blog styling*/

#blogrow {
    margin-left: 50px;
    margin-right: 50px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* ------------------------------- bootstrap toasts */


.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Checkout and Bag styling */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Contact page styling */

.contactform {
    padding-top: 100px;
}

#mc_embed_signup{
    background:#fff;
    clear:left;
    font:14px Helvetica,Arial,sans-serif; 
    width: 600px;
}

#mc_embed_shell {
    height: 30%;
    width: 100%;
}

#mc_embed_signup {
    height: 100%;
}

#mc_embed_signup form {
    padding-top: 15px;
}

#contactdiv {
    height: 100vh;
    padding-left: 50px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: red;
    border-color: red;
    border-radius: 0;
}

/* Media Queries */

@media (max-width: 1150px) {
    #hometext {
        font-size: smaller;
    }

}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    #topnav {
        background-color: white !important;
    }

    #topnav h2 {
        font-size: 17.5px;
    }
}

@media (max-width: 991px) {
    
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 164px);
    }

    #topnav2 {
        background-color: white !important;
    }

    #hometext {
        font-size: 20px;
    }
}


@media (max-width: 760px) {
    
    .image-container {
        display: none;

}

    .blogpreview {
        background-color: white;
        width: 100%;
    }

    .text-center div i, .text-center div p {
        font-size: 10px;
    }
}

@media (max-width: 450px) {

    .text-center div i, .text-center p {
        font-size: 10px;
    }

    .mobiletitle {
        color: black;
        font-size: 10px;
    }
    
}

@media (max-width: 400px) {
    #bagbag {
        display: none;
    }

    .indexblogtest {
        font-size: 15px !important;
    }

    .indexblogtest2 {
        font-size: 10px !important;
    }
    
}
