/* Global Styings */

html {
    margin: 0;
    height: 100% !important;
    width: 100% !important;
}

body {
    height: 100% !important;
    width: 100% !important;
    background: url(/media/onder-ortel.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Rubik';
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.logo-font {
    text-transform: uppercase;
}

/* Nav Styling */

header {
    height: 10%;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

#topnav {
    border-bottom: solid black 2px;
}

/* Homepage Styling */

.blogpreview {
    background-color: white;
    width: 100%;
    padding-left: 5px;
}

.parent-div2, .parent-div1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.parent-div2 {
    margin-bottom: 5px;
}

.parent-div1 {
    padding-top: 10px;
}

.parent-div1 div {
    padding-top: 50px;
    padding-left: 20px;
}

.indexdiv2 {
    height: 100%;
}

.sampleblog {
    background-color: white;
    border: 2px black solid;
    margin: 2.5px;
    border-radius: 10px;
    height: 175px;
    padding: 5px;
}

.sampleblog img {
    margin-top: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: black 2px solid;
    border-radius: 10px;
}

.indexdiv1 {
    height: 100% !important;
}

.divrow {
    height: 100%;
    width: 33.333333333333333333333333333% !important;
    border: solid black 1px;
}

.divrow2 {
    height: 100% !important;
    width: 10%;
}

.maintext {
    margin-top: 300px;
    font-size: 20px;
    border: solid 3px white;
    border-radius: 5px;
    width: 125px;
}

.maintext div {
    padding: 5px;
}

.blogpreview {
    height: 100%;
}

.mobiletitle {
    color: black;
}

/* Button Stying */

.btn-black {
    background: black;
    color: white;
    border-radius: 10px;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
    border-radius: 10px;
}

.text-black {
    color: #000 !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
}

.btt-link, 
.update-link,
.remove-item {
    cursor: pointer;
}

.pag_button {
    color: #555;
}

button {
    border: none !important;
}

.rounded-0 {
    border-radius: 10px !important;
}

.plusminus {
    border-radius: 0px !important;
}

/* Products Page styling*/

.soldout {
    color: red;
}

.productdetail {
    background-color: white;
    padding: 30px;
    border: black 2px solid;
    border-radius: 10px;
}

/* Blog styling*/

#blogrow {
    margin-left: 100px;
    margin-right: 100px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* ------------------------------- bootstrap toasts */


.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Checkout and Bag styling */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Contact page styling */

.contactform {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

.contactform img {
    height: 50%;
}

#mc_embed_signup{
    background-color: white;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10px;
}

#mc_embed_shell {
    width: 100%;
}

#mc_embed_signup {
    height: 100%;
}

#mc_embed_signup form {
    padding-top: 15px;
    padding-right: 50px;
    background-color: white;
}

#contactdiv {
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
}

/* Product Form */

.container5 {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.prodbtn {
    margin-top: 2.5px;
    border-radius: 10px !important;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: red;
    border-color: red;
    border-radius: 0;
}

/* Product Management */

.container3 {
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
    padding: 30px;
}

/* FAQ */

.faq {
    margin-top: 100px;
}

.contactform{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid black;
    width: 50%;
}

.ownerimg {
    width: 100%;
    height: 300px;
    background-image: url('../../media/DALLE1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 10px;
}

.faqqanda {
    padding: 30px;

}

.faqqanda h2 {
    font-size: 20px;
}

.faqlink {
    color: gray;
}

/* Media Queries */

@media (max-width: 1150px) {
    #hometext {
        font-size: smaller;
    }

}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    #topnav {
        background-color: white !important;
    }

    #topnav h2 {
        font-size: 17.5px;
    }
}

@media (max-width: 991px) {
    
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 164px);
    }

    #topnav2 {
        background-color: white !important;
        border-bottom: 2px solid black;
    }

    #hometext {
        font-size: 20px;
    }

    #blogrow {
        margin-left: 10px;
        margin-right: 10px;
    }

    .indexblogtest {
        font-size: 15px;
    }

}


@media (max-width: 760px) {
    
    .image-container {
        display: none;

    } 

    .blogpreview {
        background-color: white;
        width: 100%;
    }

    .text-center div i, .text-center div p {
        font-size: 10px;
    }

    .indexdiv {
        display: none;
    }

    .indexdiv2 {
        background-color: white;
        display: contents !important;
        width: 100vw;
    }

    .divrow {
        border: 2px solid black;
        border-radius: 10px;
        width: 100% !important;
        height: 30vh !important;
        background-color: white !important;
        margin-bottom: 30px;
    }

    .image-container2 {
        display: contents;
        width: 90%;
        height: 70%;
        }
    
    .image-container2 img {
        width: 100%;
        height: 80%;
        margin-top: 20px;
        object-fit: cover;
        border: 2px solid black;
        border-radius: 5px;
    }

    .contactform{
        width: 90%;
    }
}

@media (max-width: 560px) {
    .qty {
        display: none;
    }

    .prodname {
        font-size: 10px;
    }

    .prodbtn {
        margin-top: 2.5px;
    }

    .prodicon {
        display: none;
    }

    .image-container2 img {
        height: 50%;
    }
        
}


@media (max-width: 450px) {

    .text-center div i, .text-center p {
        font-size: 10px;
    }

    .mobiletitle {
        color: black;
        font-size: 10px;
    }

    .smltext {
        font-size: 8px;
    }

}

@media (max-width: 400px) {
    #bagbag {
        display: none;
    }

    .indexblogtest {
        font-size: 15px !important;
    }

    .indexblogtest2 {
        font-size: 10px !important;
    }

    .tagblog {
        display: none;
    }

}
