/* Global Styings */

html {
    margin: 0;
    height: 100% !important;
    width: 100% !important;
}

body {
    height: 100% !important;
    width: 100% !important;
    margin: 0;
    background: url(/media/pexels-foodie-factor-543733.webp) no-repeat center center fixed;
    background-size: cover;
    color: black;
    font-family: 'Rubik', sans-serif;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.logo-font {
    text-transform: uppercase;
}

/* Nav Styling */

#main-nav {
    width: 50vw !important;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

#topnav div ul li span {
    color: white !important;
}

.cheeseicon {
    padding-left: 45px;
    height: 30px;
    width: 75px;
}

.cheeseicon, .mobiletitle {
    display: block;
}

.searchmobbk1 {
    right: -25px !important;
    left: unset !important;
}

.searchdropdown {
    background-color: black !important;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: black;
}

.privacylink2 {
    padding-left: 25px;
}

.contactlink2 {
    padding-right: 25px;
}

.sociallinks {
    letter-spacing: 10px;
}

footer div {
    padding-top: 2.5px;
}

footer div div a {
    text-decoration: none !important;
    color: white;
}

footer div div a:hover {
    text-decoration: none !important;
    color: white;
}

/* Homepage Styling */

.indexlink {
    height: 100%;
}

.titlehov:hover {
    text-decoration: none;
    font-weight: bold;
}

.indexblogtest, .indexblogtest3 {
    font-weight: 500;
    color: black !important;
}

.indexblogtest:hover {
    font-weight: bold;
}

.blogpreview {
    background-color: white;
    width: 100%;
    padding-left: 5px;
}

.parent-div2, .parent-div1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.parent-div2 {
    margin-bottom: 5px;
}

.parent-div1 {
    padding-top: 10px;
}

.parent-div1 div {
    padding-top: 20px;
    padding-left: 20px;
}

.indexdiv {
    padding-bottom: 25px;
    height: 30%;
}

.indexdiv3 {
    background-color: white !important;
    border-top: 1px solid black;
}

.sampleblog {
    background-color: white;
    margin-right: 5px;
    border-radius: 5px;
    padding: 10px;
    height: 180px;
}

.sampleblog img {
    margin-top: 10px;
    width: 100%;
    height: 120px;
    object-fit: contain;
    border-radius: 5px;
}

.indexdiv1 {
    height: 70% !important;
}

.divrow {
    height: 100%;
    width: 33.333333333333333333333333333% !important;
}

.divrow2 {
    height: 100% !important;
    width: 10%;
}

.maintext {
    width: 50% !important;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.maintext a {
    font-size: 25px;
}

.blogpreview {
    height: 100%;
}

.mobiletitle {
    color: white !important;
}

.current2 {
    color: black !important;
}

.current4 {
    color: black !important;
}

.allposts {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}

.current3 {
    color: white !important;
}

.indexdiv2 {
    height: 40%;
}

.indexsubscribe {
    background-color: white !important;
    height: 20px;
}

.newarrimg {
    width: 250px;
}

.mailchimpindex {
    background-color: white !important;
    border-left: 1px solid black !important;
}

.newarrtext {
    padding-left: 30px;
}

.hometext, .hometext a {
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
}

/* Button Stying */

.btn {
    color: black !important;
    text-decoration: underline !important;
    border: 1px solid black !important;
    border-radius: 2.5px !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
}

.btt-link, 
.update-link,
.remove-item {
    cursor: pointer;
}

.pag_button {
    color: #555;
}

button {
    border: none !important;
}

.plusminus {
    border-radius: 0px !important;
}

/* Products Page styling*/

.rating .far {
    color: black;
}

.rating .far:hover {
    cursor: pointer;
}

.soldout {
    color: red;
}

.productdetail {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
}

.proddescription {
    font-family: 'Lato', sans-serif;
}

#topbutton {
    margin-bottom: 25px;
}

.nextlast {
    color: black !important;
}

.productimage {
    border-radius: 5px;
}

#pagnavig {
    height: 100px;
}

.productshome {
    color: black !important;
}

.btnyesno {
    border: 0px !important;
    font-size: 12.5px !important;
}

.btnyesno1 {
    color: red !important;
    border: 0px !important;
    font-size: 12.5px !important;
}

/* Blog styling*/

.blogrow {
    margin-left: 100px;
    margin-right: 100px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

#blogpagin {
    height: 100px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.icon2 {
    color: black !important;
}

/* ------------------------------- bootstrap toasts */


.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Checkout and Bag styling */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Contact page styling */

.contactform {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.contactform img {
    height: 50%;
}

#mc_embed_signup{
    background-color: white;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 5px;
}

#mc_embed_shell {
    width: 100%;
}

#mc_embed_signup {
    height: 100%;
    margin-bottom: 100px;
}

#mc_embed_signup form {
    padding-top: 15px;
    padding-right: 50px;
    background-color: white;
    margin-bottom: 100px !important;
}

#contactdiv {
    height: 60vh;
    padding-left: 25px;
    padding-right: 25px;
}

#contactsubmit {
    background-color: black;
    color: white;
    border-radius: 5px;
}

/* Product Form */

.container5 {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.prodbtn {
    margin-top: 2.5px;
    border-radius: 5px !important;
    text-decoration: none !important;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: red;
    border-color: red;
    border-radius: 0;
}

/* Product Management */

.container3 {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin-top: 100px;
}

/* FAQ */

.faq {
    margin-top: 100px;
}

.contactform{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    width: 50%;
}

.ownerimg {
    width: 100%;
    height: 300px;
    background-image: url('../../media/DALLE1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.faqqanda {
    padding-bottom: 20px !important;
}

.faqqanda h2 {
    font-size: 20px;
}

.faqqanda p {
    font-family: 'Lato', sans-serif;
}

.faqqanda p a {
    color: black !important;
}

.faqlink {
    color: black;
}

/* Auth Styling */

.authbox, .authbox form button {
    margin: 300px;
    height: 100px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
}

.authbox2 {
    margin-top: 100px;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
}

.authbox3 {
    margin-top: 250px;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
}

.signin {
    border: 1px black solid !important;
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    background-color: white !important;
}

.signinlink {
    color: black;
}

#submit {
    padding: 2px;
    background-color: white;
    font-size: 22px;
}

/* Media Queries */

@media (max-width: 1150px) {
    
    .indexblogtest {
        font-size: 12.5px;
    }

    .indexblogtest3 {
        font-size: 25px;
    }

    .newarrimg {
        width: 150px;
        margin-top: 30px;
    }

}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .header-container2 {
        padding-top: 0px;
    }

    #topnav {
        background-color: black !important;
        color: white !important;
    }

    #topnav h2 {
        font-size: 17.5px;
    }

    .title, #topnav div ul li a {
        color: white !important;
    }

    li .dropdown-item, .navbackground, li .dropdown-menu {
        background-color: black !important;
    }

    .navbackground {
        padding: .25rem .75rem !important;
    }
}

@media (max-width: 991px) {
    
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 164px);
    }

    #topnav2 {
        background-color: black !important;
    }

    #hometext {
        font-size: 20px;
    }

    .blogrow {
        margin-left: 10px;
        margin-right: 10px;
    }

    .indexblogtest2 {
        font-size: 10px;
    }

    .indexblogtest4 {
        font-size: 12px;
    }

    .mobiletitle {
        color: white;
    }

    #topnav nav li, .searchmob {
        color: white;
    }

    .searchmobbk {
        background-color: black;
    }

    .searchmobbk a {
        color: white;
    }

    .ddlink {
        color: white !important;
    }

    #submit {
        background-color: white;
    }
}


@media (max-width: 760px) {

    .newarrimg {
        width: 200px;
        margin-top: 30px;
    }

    .blogpreview {
        background-color: white;
        width: 100%;
    }

    .text-center div i, .text-center div p {
        font-size: 10px;
    }

    .indexdiv {
        display: none;
    }

    .indexdiv2 {
        display: contents !important;
    }

    .divrow {
        width: 105% !important;
        height: 25% !important;
        background-color: white !important;
        border-top: 1px solid black;
    }

    .image-container2 {
        display: contents;
        width: 90%;
        height: 70%;
        }
    
    .image-container2 img {
        width: 100%;
        height: 80%;
        margin-top: 20px;
        object-fit: cover;
        border-radius: 5px;
    }

    .contactform{
        width: 90%;
    }

    .indexsubscribe {
        height: 400px;
        border-bottom: 1px solid black;
    }

    #mc_embed_signup {
        margin-right: 0px;
        margin-left: 0px;
    }

    .mailchimpindex {
        border-left: none !important;
    }

    .maintext {
        width: 75% !important;
    }
}

@media (max-width: 560px) {

    .newarrimg {
        margin-top: 50px;
        width: 125px;
    }

    .prodname {
        font-size: 10px;
    }

    .prodbtn {
        margin-top: 2.5px;
    }

    .prodicon {
        display: none;
    }

    .image-container2 img {
        height: 75%;
    }

    .blogimg {
        height: 50% !important;
    }

    .maintext h2 {
        display: none;
    }
        
}


@media (max-width: 450px) {

    .cheeseicon {
        padding-left: 30px;
        height: 20px;
        width: 50px;
    }

    .text-center div i, .text-center p {
        font-size: 12px;
    }

    .mobiletitle {
        color: black;
        font-size: 11.5px;
    }

    .smltext {
        font-size: 8px;
    }

    .privacylink2, .contactlink2 {
        display: none;
    }
}

@media (max-width: 400px) {
    #bagbag {
        display: none;
    }

    .indexblogtest3 {
        font-size: 20px !important;
    }

    .indexblogtest4 {
        font-size: 11px !important;
    }

}
