<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link text-black d-block d-lg-none" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cheese Types
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a class="dropdown item" href="{% url 'products' %}">All Cheeses</a>
                <a href="{% url 'products' %}?cheesetype=bluecheese" class="dropdown-item">Blue Cheese</a>
                <a href="{% url 'products' %}?cheesetype=firmcheese" class="dropdown-item">Firm Cheese</a>
                <a href="{% url 'products' %}?cheesetype=hardcheese" class="dropdown-item">Hard Cheese</a>
                <a href="{% url 'products' %}?cheesetype=softcheese" class="dropdown-item">Soft Cheese</a>
                <a href="{% url 'products' %}?cheesetype=creamcheese" class="dropdown-item">Cream Cheese</a>
                <a href="{% url 'products' %}?cheesetype=goatscheese" class="dropdown-item">Goats Cheese</a>
                <a href="{% url 'products' %}?cheesetype=bakingcheese" class="dropdown-item">Baking Cheese</a>
                <a href="{% url 'products' %}?cheesetype=butter" class="dropdown-item">Butters</a>
                <a href="{% url 'products' %}?cheesetype=cracker" class="dropdown-item">Crackers</a>
            </div>
        </li>
        <li class="list-inline-item dropdown">
          <a class="nav-link text-black d-block d-lg-none" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Origin
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="types-link">
              <a href="{% url 'products' %}?origin=Ireland" class="dropdown-item">Ireland</a>
              <a href="{% url 'products' %}?origin=France" class="dropdown-item">France</a>
              <a href="{% url 'products' %}?origin=Switzerland" class="dropdown-item">Switzerland</a>
              <a href="{% url 'products' %}?origin=Spain" class="dropdown-item">Spain</a>
              <a href="{% url 'products' %}?origin=Italy" class="dropdown-item">Italy</a>
              <a href="{% url 'products' %}?origin=Holland" class="dropdown-item">Holland</a>
              <a href="{% url 'products' %}?origin=UnitedKingdom" class="dropdown-item">United Kingdom</a>
              <a href="{% url 'products' %}?origin=Greece" class="dropdown-item">Greece</a>
          </div>
      </li>
      <li class="list-inline-item dropdown" id="">
        <a class="nav-link text-black d-block d-lg-none" href="{% url 'view_bag' %}">
            <div>
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                    {% else %}
                        $0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
    <li class="list-inline-item dropdown" id="">
        <a class="nav-link text-black d-block d-lg-none" href="{% url 'cheesyblog' %}">
            Blog
        </a>
    </li>
    </ul>
</div>