{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row indexdiv1">
    <div class="col-12">
        <div class="row d-flex justify-content-center align-items-center" id="indexlink">
            <div class="col-7 col-md-6">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="maintext d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <h1>Sorry, 400 error.</h1>
                            <h2>That means there's a client error.</h2>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}