{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row indexdiv1">
    <div class="col-12">
        <div class="row d-flex justify-content-center align-items-center indexlink">
            <div class="d-flex justify-content-center align-items-center maintext">
                <h1 class="text-white">Sorry, 500 error.</h1>
                <h2 class="text-white">That means the server has encountered a problem.</h2>
                <a href="{% url 'products' %}" class="text-white"><u>Back to Products</u></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}